# Pandas - series - tworzenie - lekcja

In [6]:
import pandas as pd
import numpy as np

## Tworzenie

- Seria `int`
- Seria `float`
- Seria `str`
- Seria `datetime`

In [ ]:
# https://python.astrotech.io/numerical-analysis/numpy/array-dtype.html

In [10]:
s = pd.Series([1, 2, 3, 127, 128], dtype=np.int8)
s

0      1
1      2
2      3
3    127
4   -128
dtype: int8

In [7]:
s = pd.Series([1.1, 2.2, 3.3], dtype=np.float128)
s

0    1.1
1    2.2
2    3.3
dtype: float128

In [12]:
s = pd.Series(['a', 'b', 'c'])
s

0    a
1    b
2    c
dtype: object

In [16]:
s = pd.Series(list('ABCDEFGHIJ'))
s

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object

In [22]:
import string

s = pd.Series(list(string.ascii_uppercase[:12]))
s

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
dtype: object

In [26]:
s = pd.Series([
    pd.Timestamp('2000-01-01'),
    pd.Timestamp('2000-01-02'),
    pd.Timestamp('2000-01-03'),
    pd.Timestamp('2000-01-04'),    
])

s

0   2000-01-01
1   2000-01-02
2   2000-01-03
3   2000-01-04
dtype: datetime64[ns]

In [28]:
pd.Series(pd.date_range('2000-01-01', '2000-01-05'))

0   2000-01-01
1   2000-01-02
2   2000-01-03
3   2000-01-04
4   2000-01-05
dtype: datetime64[ns]

In [32]:
s = pd.Series([
    '2000-01-01',
    '2000-01-02',
    '2000-01-03',
    '2000-01-04',    
])

s = s.map(pd.Timestamp)
s

0   2000-01-01
1   2000-01-02
2   2000-01-03
3   2000-01-04
dtype: datetime64[ns]

## Atrybuty

- Typ danych
- Kształt
- Ilość wymiarów
- Indeks
- Wartości

In [33]:
s = pd.Series([1.1, 2.2, 3.3], dtype=np.float128)
s

0    1.1
1    2.2
2    3.3
dtype: float128

In [34]:
s.shape

(3,)

In [35]:
s.dtype

dtype('float128')

In [36]:
s.ndim

1

In [37]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [38]:
s.values

array([1.1, 2.2, 3.3], dtype=float128)

## Indeksy

- Range Index
- Numeric Index
- String Index
- Date Index

In [39]:
s = pd.Series([1.1, 2.2, 3.3])
s.index

RangeIndex(start=0, stop=3, step=1)

In [50]:
data = [1.1, 2.2, 3.3]
index = [99, 1.1, -101]

s = pd.Series(data, index)
s.index

Float64Index([99.0, 1.1, -101.0], dtype='float64')

In [51]:
s

 99.0     1.1
 1.1      2.2
-101.0    3.3
dtype: float64

In [54]:
data = [1.1, 2.2, 3.3]
index = ['a', 'basdasdasds', 'c']

s = pd.Series(data, index)
s.index

Index(['a', 'basdasdasds', 'c'], dtype='object')

In [55]:
s

a              1.1
basdasdasds    2.2
c              3.3
dtype: float64

In [58]:
data = [1.1, 2.2, 3.3]
index = [pd.Timestamp('2000-01-01'), pd.Timestamp('2000-01-02'), pd.Timestamp('2000-01-03')]

s = pd.Series(data, index)
s.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq=None)

In [59]:
s

2000-01-01    1.1
2000-01-02    2.2
2000-01-03    3.3
dtype: float64

In [61]:
data = [1.1, 2.2, 3.3]
index = ['2000-01-01', '2000-01-02', '2000-01-03']
index = map(pd.Timestamp, index)
# index = [pd.Timestamp(x) for x in index]

s = pd.Series(data, index)
s.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq=None)

In [64]:
data = [1.1, 2.2, 3.3]
index = pd.date_range('2000-01-01', '2000-01-03', freq='D')


s = pd.Series(data, index)
s.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq='D')

In [65]:
s

2000-01-01    1.1
2000-01-02    2.2
2000-01-03    3.3
Freq: D, dtype: float64