# Pandas - series - przekształcenia - lekcja

In [1]:
import pandas as pd

In [78]:
alfa = pd.Series(
    data = [1.1, 2.2, 3.3, pd.NA, 5.5, 6.6, 7.7, 8.8, 9.9],
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])

num = pd.Series(
    data = [1.1, 2.2, 3.3, pd.NA, 5.5, 6.6, 7.7, 8.8, 9.9])

ts = pd.Series(
    data = [1.1, 2.2, 3.3, pd.NA, 5.5, 6.6, 7.7, 8.8, 9.9],
    index = pd.date_range('1999-12-28', '2000-01-05', freq='D'))

In [6]:
alfa

a     1.1
b     2.2
c     3.3
d    <NA>
e     5.5
f     6.6
g     7.7
h     8.8
i     9.9
dtype: object

In [7]:
num

0     1.1
1     2.2
2     3.3
3    <NA>
4     5.5
5     6.6
6     7.7
7     8.8
8     9.9
dtype: object

In [8]:
ts

2000-01-01     1.1
2000-01-02     2.2
2000-01-03     3.3
2000-01-04    <NA>
2000-01-05     5.5
2000-01-06     6.6
2000-01-07     7.7
2000-01-08     8.8
2000-01-09     9.9
Freq: D, dtype: object

## Próbkowanie

- First
- Last
- Head
- Tail
- Sample

In [18]:
ts.head(n=3)

2000-01-01    1.1
2000-01-02    2.2
2000-01-03    3.3
Freq: D, dtype: object

In [19]:
ts.tail(5)

2000-01-05    5.5
2000-01-06    6.6
2000-01-07    7.7
2000-01-08    8.8
2000-01-09    9.9
Freq: D, dtype: object

In [25]:
alfa.sample(frac=.4)

b     2.2
c     3.3
g     7.7
d    <NA>
dtype: object

In [26]:
alfa.sample(n=5)

f     6.6
g     7.7
d    <NA>
a     1.1
b     2.2
dtype: object

In [27]:
alfa.sample(n=5, replace=True)

f     6.6
b     2.2
d    <NA>
f     6.6
i     9.9
dtype: object

In [44]:
ts.first('3B')

2000-01-01     1.1
2000-01-02     2.2
2000-01-03     3.3
2000-01-04    <NA>
2000-01-05     5.5
Freq: D, dtype: object

In [47]:
import calendar

calendar.monthcalendar(2000, 1)

[[0, 0, 0, 0, 0, 1, 2],
 [3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16],
 [17, 18, 19, 20, 21, 22, 23],
 [24, 25, 26, 27, 28, 29, 30],
 [31, 0, 0, 0, 0, 0, 0]]

In [43]:
ts.last('2B')

2000-01-07    7.7
2000-01-08    8.8
2000-01-09    9.9
Freq: D, dtype: object

In [ ]:
# https://python.astrotech.io/numerical-analysis/pandas/date-frequency.html

## Wybieranie wartości

- Numeric Index
- String Index
- Date Index

In [50]:
num

0     1.1
1     2.2
2     3.3
3    <NA>
4     5.5
5     6.6
6     7.7
7     8.8
8     9.9
dtype: object

In [62]:
num[8]

9.9

In [55]:
alfa

a     1.1
b     2.2
c     3.3
d    <NA>
e     5.5
f     6.6
g     7.7
h     8.8
i     9.9
dtype: object

In [64]:
alfa['b']

2.2

In [67]:
alfa[5]

6.6

In [83]:
alfa[-3]

7.7

In [74]:
ts

2000-01-01     1.1
2000-01-02     2.2
2000-01-03     3.3
2000-01-04    <NA>
2000-01-05     5.5
2000-01-06     6.6
2000-01-07     7.7
2000-01-08     8.8
2000-01-09     9.9
Freq: D, dtype: object

In [70]:
ts[6]

7.7

In [75]:
ts['2000-01-01']

1.1

In [79]:
ts['2000-01']

2000-01-01    5.5
2000-01-02    6.6
2000-01-03    7.7
2000-01-04    8.8
2000-01-05    9.9
Freq: D, dtype: object

In [81]:
ts['1999']

1999-12-28     1.1
1999-12-29     2.2
1999-12-30     3.3
1999-12-31    <NA>
Freq: D, dtype: object

In [82]:
ts['2000']

2000-01-01    5.5
2000-01-02    6.6
2000-01-03    7.7
2000-01-04    8.8
2000-01-05    9.9
Freq: D, dtype: object

In [107]:
ts[ [6,8,1] ]

2000-01-03    7.7
2000-01-05    9.9
1999-12-29    2.2
dtype: object

In [109]:
alfa[ ['e','b','d'] ]

e     5.5
b     2.2
d    <NA>
dtype: object

In [116]:
idx = ['2000-01-01', '2000-01-03', '1999-12-28']
idx = map(pd.Timestamp, idx) 

ts[ list(idx) ]

2000-01-01    5.5
2000-01-03    7.7
1999-12-28    1.1
dtype: object

In [120]:
ts[ ['2000-01-01', '2000-01-03', '1999-12-28'] ]

2000-01-01    5.5
2000-01-03    7.7
1999-12-28    1.1
dtype: object

## Wycinanie wartości

- Numeric Index
- String Index
- Date Index

In [85]:
num[:5]

0     1.1
1     2.2
2     3.3
3    <NA>
4     5.5
dtype: object

In [86]:
num[2:7:2]

2    3.3
4    5.5
6    7.7
dtype: object

In [99]:
alfa[-6:-2:2]

d    <NA>
f     6.6
dtype: object

In [91]:
alfa['b':'e':2]

b     2.2
d    <NA>
dtype: object

In [93]:
ts['1999-12-30':'2000-01-03']

1999-12-30     3.3
1999-12-31    <NA>
2000-01-01     5.5
2000-01-02     6.6
2000-01-03     7.7
Freq: D, dtype: object

In [95]:
ts['1999-12':'2000-01']

1999-12-28     1.1
1999-12-29     2.2
1999-12-30     3.3
1999-12-31    <NA>
2000-01-01     5.5
2000-01-02     6.6
2000-01-03     7.7
2000-01-04     8.8
2000-01-05     9.9
Freq: D, dtype: object

In [96]:
ts['1999-12':'2000-01-03']

1999-12-28     1.1
1999-12-29     2.2
1999-12-30     3.3
1999-12-31    <NA>
2000-01-01     5.5
2000-01-02     6.6
2000-01-03     7.7
Freq: D, dtype: object

In [97]:
ts['1999-12-29':'2000']

1999-12-29     2.2
1999-12-30     3.3
1999-12-31    <NA>
2000-01-01     5.5
2000-01-02     6.6
2000-01-03     7.7
2000-01-04     8.8
2000-01-05     9.9
Freq: D, dtype: object

In [103]:
ts['1999-12-29':'2000':2]

1999-12-29     2.2
1999-12-31    <NA>
2000-01-02     6.6
2000-01-04     8.8
Freq: 2D, dtype: object

In [106]:
ts['2000':'1999-12-29':-1]

2000-01-05     9.9
2000-01-04     8.8
2000-01-03     7.7
2000-01-02     6.6
2000-01-01     5.5
1999-12-31    <NA>
1999-12-30     3.3
1999-12-29     2.2
Freq: -1D, dtype: object

In [102]:
s = pd.Series(
    data = [1.0, 2.0, 3.0, 4.0, 5.0],
    index = ['aaa', 'bbb', 'ccc', 'ddd', 'eee'])

s['a':'d']

aaa    1.0
bbb    2.0
ccc    3.0
dtype: float64

## Modyfikacja danych

- Usuwanie
- Usuwanie duplikatów
- Resetowanie indeksu

In [126]:
num.drop([1,4,6], inplace=True)

In [128]:
alfa.drop(['a', 'b'])

c     3.3
d    <NA>
e     5.5
f     6.6
g     7.7
h     8.8
i     9.9
dtype: object

In [134]:
num[2] = 0
num[5] = 0

num

0     1.1
2       0
3    <NA>
5       0
7     8.8
8     9.9
dtype: object

In [142]:
alfa['c':'g'] = 0.0

alfa

a    1.1
b    2.2
c      0
d      0
e      0
f      0
g      0
h    8.8
i    9.9
dtype: object

In [136]:
num.drop_duplicates(inplace=True)

In [139]:
num

0     1.1
2       0
3    <NA>
7     8.8
8     9.9
dtype: object

In [140]:
num.reset_index(drop=True)

0     1.1
1       0
2    <NA>
3     8.8
4     9.9
dtype: object

## Wartości puste

- Any
- All
- Czy null
- Czy puste
- Wypełnianie skalarne
- Wypełnianie w przód
- Wypełnianie w tył
- Interpolacja
- Usuwanie pustych wierszy (any, all)

In [144]:
ts['1999-12-29'] = pd.NA

In [147]:
ts['2000-01-02':'2000-01-04'] = pd.NA

In [148]:
ts

1999-12-28     1.1
1999-12-29    <NA>
1999-12-30     3.3
1999-12-31    <NA>
2000-01-01     5.5
2000-01-02    <NA>
2000-01-03    <NA>
2000-01-04    <NA>
2000-01-05     9.9
Freq: D, dtype: object

In [153]:
ts.any?

In [150]:
ts.all()

9.9

In [152]:
ts.isna()

1999-12-28    False
1999-12-29     True
1999-12-30    False
1999-12-31     True
2000-01-01    False
2000-01-02     True
2000-01-03     True
2000-01-04     True
2000-01-05    False
Freq: D, dtype: bool

In [154]:
ts.fillna(0)

1999-12-28    1.1
1999-12-29    0.0
1999-12-30    3.3
1999-12-31    0.0
2000-01-01    5.5
2000-01-02    0.0
2000-01-03    0.0
2000-01-04    0.0
2000-01-05    9.9
Freq: D, dtype: float64

In [156]:
ts

1999-12-28     1.1
1999-12-29    <NA>
1999-12-30     3.3
1999-12-31    <NA>
2000-01-01     5.5
2000-01-02    <NA>
2000-01-03    <NA>
2000-01-04    <NA>
2000-01-05     9.9
Freq: D, dtype: object

In [157]:
ts.ffill()

1999-12-28    1.1
1999-12-29    1.1
1999-12-30    3.3
1999-12-31    3.3
2000-01-01    5.5
2000-01-02    5.5
2000-01-03    5.5
2000-01-04    5.5
2000-01-05    9.9
Freq: D, dtype: float64

In [158]:
ts.bfill()

1999-12-28    1.1
1999-12-29    3.3
1999-12-30    3.3
1999-12-31    5.5
2000-01-01    5.5
2000-01-02    9.9
2000-01-03    9.9
2000-01-04    9.9
2000-01-05    9.9
Freq: D, dtype: float64

## Aplikowanie funkcji

- map
- apply

In [165]:
ts.fillna(0, inplace=True)

def cube(x):
    return x ** 3


ts.map(lambda x: x ** 3)

1999-12-28      1.331
1999-12-29      0.000
1999-12-30     35.937
1999-12-31      0.000
2000-01-01    166.375
2000-01-02      0.000
2000-01-03      0.000
2000-01-04      0.000
2000-01-05    970.299
Freq: D, dtype: float64

In [166]:
s = pd.Series(['Jan', 'Łukasz', 'Agata', 'Łucja'])
s

0       Jan
1    Łukasz
2     Agata
3     Łucja
dtype: object

In [177]:
PL = {'ą': 'a', 'ć': 'c', 'ę': 'e',
      'ł': 'l', 'ń': 'n', 'ó': 'o',
      'ś': 's', 'ż': 'z', 'ź': 'z'}


def removepl(text):
    return ''.join(PL.get(x,x) for x in text.lower()).capitalize()


s.map(lambda name: ''.join(PL.get(x,x) for x in name.lower()).capitalize())

0       Jan
1    Lukasz
2     Agata
3     Lucja
dtype: object

In [179]:
s.apply(lambda name: ''.join(PL.get(x,x) for x in name.lower()).capitalize())

0       Jan
1    Lukasz
2     Agata
3     Lucja
dtype: object

In [181]:
s.map?

In [182]:
s.apply?

In [ ]:
# https://python.astrotech.io/_images/pd-mapping.png